.frame {
    border: 1px solid #000;
    width: 100px;
    height: 120px;
    display: inline-block;
    float: left;
}

.frame-input {
    width: 46px;
    height: 46px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

.frame-input input {
    border: none;
}

.frame-input.second {
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.frame-identifier {
    width: 100px;
    height: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.score {
    width: 100px;
    height: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}